<%= form_for [current_user,@meeting] do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title, "Con quien te reunes" %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :date, "Fecha de la reunion" %><br>
    <%= f.datetime_select :date, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :location, "Donde es la reunion" %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :description, "Notas sobre la reunion" %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="margin-top">
    <%= f.submit %>
  </div>
  <script>
  jQuery(function() {
  var completer;

  completer = new GmapsCompleter({
    inputField: '.gmaps-input-address',
    errorField: '#gmaps-error'
  });

  completer.autoCompleteInit({
    country: "us"
  });
});
</script>
<% end %>
