<h1 class="main-h1">Mis reuniones</h1>

  <div class="row">
  <% @meetings.each do |meeting| %>
    <div class="col-sm-4">
      <div class="card cliente text-center">
        <div class="card-block text-center">
          <figure class="date text-center margin-auto">
            <header>
             <%= t (meeting.date.strftime("%B")) %>
            </header>
            <section>
              <%= t (meeting.date.strftime("%d")) %>
            </section>
            </figure>
        </div>
          <div class="meeting-details">
            <h6 class="margin-top"><%= link_to meeting.title, "#"   %></h6>
            <span class="project-title"> <i class="icon-map-marker"></i> <%= meeting.location %> - <%= t (meeting.date.strftime("%H:%M")) %></span>
                        <%= link_to "<button class='btn-small'>Editar</button>".html_safe, edit_user_meeting_path(current_user, meeting) %>
            <button class="btn-primary width100 margin-top">Ver mapa</button>
          </div>
      </div>
    </div>
    <% end %>
  </div>
<%= link_to '<button class="btn-add"><i class="icon-plus"></i></button>'.html_safe, new_user_meeting_path(current_user) %>
</section>



