<h1 class="main-h1">Mis finanzas
</h1>
	<h5 class="lightgrey">Proyectos en curso </h5>
  	<ul class="row stats">
    	<li class="col-sm-3"><span class="number"><%= @estimated %></span> <span class="number-details"> Euros en proyectos en curso </span></li>
		<li class="col-sm-3"><span class="number"><%= @estimated_iva %></span> <span class="number-details"> Euros de IVA en proyectos en curso </span></li>
		<li class="col-sm-3"><span class="number"><%= @totalprice %></span> <span class="number-details">Euros total en proyectos en curso </span></li>
	</ul>
	<h5 class="lightgrey">Proyectos en curso </h5>
  	<ul class="row stats">
    	<li class="col-sm-3"><span class="number"><%= @estimated %></span> <span class="number-details"> Euros en proyectos en curso </span></li>
		<li class="col-sm-3"><span class="number"><%= @estimated_iva %></span> <span class="number-details"> Euros de IVA en proyectos en curso </span></li>
		<li class="col-sm-3"><span class="number"><%= @totalprice %></span> <span class="number-details">Euros total en proyectos en curso </span></li>
	</ul>
	<h5 class="lightgrey">Proyectos en curso </h5>
  	<ul class="row stats">
    	<li class="col-sm-3"><span class="number"><%= @estimated %></span> <span class="number-details"> Euros en proyectos en curso </span></li>
		<li class="col-sm-3"><span class="number"><%= @estimated_iva %></span> <span class="number-details"> Euros de IVA en proyectos en curso </span></li>
		<li class="col-sm-3"><span class="number"><%= @totalprice %></span> <span class="number-details">Euros total en proyectos en curso </span></li>
	</ul>







