<%= form_for [@user,@project] do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :titulo, "Titulo" %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Descripcion, "Descripcion" %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cliente_id, "Cliente" %><br>
    <%= f.collection_select :cliente_id, @clients, :id, :name, class: "form-control" %>
    <%= link_to "<button class='btn btn-primary'>o nuevo cliente</button>".html_safe, new_user_cliente_path %>
  </div>
  <div class="form-group">
    <%= f.label :condicion, "Tamaño" %><br>
    <%= f.select :condicion, [['Proyecto Muy Grande', 1], ['Proyecto Grande', 2], ['Proyecto Mediano', 3], ['Proyecto Pequeño', 4]], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :startdate, "Fecha de comienzo" %><br>
    <%= f.date_select :startdate,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :finishdate, "Fecha de entrega" %><br>
    <%= f.date_select :finishdate,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price, "Precio pactado (sin IVA)" %><br>
    <%= f.text_field :price,class: "form-control iva-control", autocomplete: :off %>
  </div>
  <div class="form-group">
    <%= f.label :iva, "Iva calculado" %><br>
    <%= f.text_field :iva,class: "form-control total" %>
  </div>
  <div class="form-group">
    <%= f.label :beneficio, "Beneficio" %><br>
    <%= f.text_field :beneficio,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :contactoprincipal, "Persona de contacto" %><br>
    <%= f.text_field :contactoprincipal,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :category_id, "Categoria" %><br>
    <%= f.number_field :category_id,class: "form-control" %>
  </div>
  <div >
    <%= f.submit %>
  </div>
  <script>
    $(document).ready(function() {
      function compute() {
          var a = $('.iva-control').val();
          var total = a * 0.21;
          $('.total').val(total);
        }

        $('.iva-control').change(compute);
    
    });
  </script>
<% end %>
