<section class="row">
  <div class="col-sm-12">
  <div class="row">
  <% @projects.each do |project| %>
    <div class="col-sm-6">
      <div class="card cliente row">
      <div class="ribbon"><span><%= project.price %></span></div>
        <div class="card-block col-sm-12">
          <h3 class="card-title">
          <% if project.cliente %>
          <span class="project-initials"><%= project.cliente.name.slice(0, 2) %></span>
          <% else %>
          <span class="project-initials"><%= project.title.slice(0, 2) %></span>
          <% end %>
          <%= link_to project.title, "#"   %></h3>
          <div class="project-details">
          <% if project.cliente %>
         <span class="cliente">Cliente: <%= project.cliente.name %></span>
         <% else %>
         <span class="cliente">Cliente: Sin asignar</span>
          <% end %>
          <% if project.finished == false %>
            <span class="finished">Finalizado</span>
          <% else %>
            <span class="notfinished">Sin acabar</span>
          <% end %>
          <button class="btn-circle" ><i class="icon-folder"></i></button>
          <button class="btn-circle"><i class="icon-trophy"></i></button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  </div>
  </div>
</section>