<section class="row">
  <div class="col-sm-12">
  <div class="row">
  <% @projects.each do |project| %>
    <div class="col-sm-6">
      <div class="card cliente row">
        <div class="card-block col-sm-12 card-title">
        <% if project.finished == false %>
            <span class="finished">Finalizado</span>
          <% else %>
            <span class="notfinished">Sin acabar</span>
          <% end %>
          <% if project.cliente %>
          <%= link_to project.cliente.name, "#", class: "client-title"   %>
          <% else %>
          <%= link_to "Sin asignar", "#", class: "client-title"   %>
          <% end %>
          <% if project.cliente %>
          <%= link_to project.title, "#", class: "project-title"   %>
          <% else %>
          <%= link_to "Sin asignar", "#", class: "client-title"   %>
          <% end %>
          <% if project.description? %>
           <p class="editable"><%= best_in_place [@user,project], :description, :as => :input %></p>
           <% else %>
           <p><%= best_in_place [@user,project], :description, :place_holder => "Añadir una description" %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  </div>
  </div>
</section>