<section class="row">
<h1 class="main-h1"> Mis proyectos </h1>
  <div class="col-sm-12">
  <% if @projects.any? %>
  <div class="row">
  <% @projects.each do |project| %>
    <div class="col-sm-6">
      <div class="card cliente row">
        <div class="card-block col-sm-12 card-title">
          <% if project.finished == true %>
            <span class="finished"> <%= best_in_place [@user,project], :finished, as: :checkbox, collection: ["Sin acabar", "Acabado"]  %>
            </span>
          <% elsif project.finished == false %>
            <span class="notfinished"> <%= best_in_place [@user,project], :finished, as: :checkbox, collection: ["Sin acabar", "Acabado"]  %>
            </span>
          <% else %>
            <span class="notfinished"> Sin asignar </span>
            </span>
          <% end %>
          <% if project.cliente %>
          <%= link_to project.cliente.name, "#", class: "client-title"   %>
          <% else %>
          <%= link_to "Sin asignar", "#", class: "client-title"   %>
          <% end %>
          <% if project.cliente %>
          <%= link_to project.title, "#", class: "project-title"   %>
          <% else %>
          <%= link_to "Sin asignar", "#", class: "client-title"   %>
          <% end %>
          <% if project.description? %>
           <p><%= best_in_place [@user,project], :description, :as => :input, inner_class: "form-control" %>
           <span id="edit-<%= project.id %>" class="editable">(Click en la descripción para editar)</span></p>
           <% else %>
           <p><%= best_in_place [@user,project], :description, :place_holder => "Añadir una description" %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  </div>
  <% else %>
      <h1 class="faded-alert">No tienes proyectos... Empieza creando uno!</h1>
  <% end %>
  </div>
</section>