<p id="notice"><%= notice %></p>

<div class="card cliente">
<p>
  <h1 class="main-h1"><%= @project.title %></h1>
<p>
  <strong>Contactoprincipal:</strong>
  <%= @project.contactoprincipal %>
</p>
</p>

<p>
  Descripción del proyecto:
  <%= @project.description %>
</p>

<div>
  <ul class="row">
    <li class="col-sm-3">
      <h6>Fecha de entrega</h6>
      <%= @project.finishdate %>
    </li>
    <li class="col-sm-3">
      <h6>Fecha de comienzo:</h6>
      <%= @project.startdate %>
    </li>
    <li class="col-sm-3">
      <h6>Precio estipulado:</h6>
      <%= @project.price %>
    </li>
    <li class="col-sm-3">
      <h6>Beneficio:</h6>
      <%= @project.beneficio %>
    </li>
    <li class="col-sm-3">
      <h6>Iva:</h6>
      <%= @project.iva %>
    </li>
  </ul>
</div>
</div>
<%= link_to 'Edit', edit_user_project_path(current_user,@project) %> |
<%= link_to 'Back', user_projects_path %>
