<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @negociation.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @negociation.description %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @negociation.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @negociation.email %>
</p>

<p>
  <strong>Business:</strong>
  <%= @negociation.business %>
</p>

<p>
  <strong>State:</strong>
  <%= @negociation.state %>
</p>

